@import 'intro.js/introjs.css';

/*--------------------------------- VARS ---------------------------------*/
:root {
  --font-family-primary: "Titillium Web", sans-serif;
  --font-family-icons: "Font Awesome 6 Free";

  --line-height-h1: 1.15;
  --line-height-h2: 1.125;
  --line-height-h3: 1.33;
  --line-height-h5: 1.5;
  --line-height-body: 1.7;
  --line-height-small: 1.6;

  --font-size-h1: 100px;
  --font-size-h2: 40px;
  --font-size-h3: 30px;
  --font-size-h5: 13px;
  --font-size-body: 13px;
  --font-size-small: 13px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --color-primary: #000094;
  --color-secondary: #b900ff;
  --color-link-hover: #465aff;
  --color-link-hover-bg-dark: #46daff;
  --color-body: #2a2a2a;
  --color-disabled: #BDBDBD;
  --color-darkest-grey: var(--color-body);
  --color-dark-grey: #666;
  --color-grey: #999;
  --color-light-grey: #ccc;
  --color-lightest-grey: #ededed;
  --color-black: #000;
  --color-white: #fff;
  --color-blue-navy-primary: var(--color-primary);
  --color-blue-navy-secondary: #000071;
  --color-blue-navy-footer: #0c1b5a;
  --color-pink: var(--color-secondary);
  --color-aqua: #46daff;
  --color-blue: var(--color-link-hover);

  --bg-gradient-pink-navy: transparent linear-gradient(113deg, var(--color-secondary) 0, var(--color-primary) 29%, var(--color-primary) 100%) 0 0 no-repeat padding-box;

  --gxblue: rgba(0, 0, 148, 0.1);
  --gxdarkblue: rgba(0, 0 113, 0.1);
  --gxmidblue: rgba(70, 90, 255, 0.1);
  --gxpurple: rgba(185, 0, 255, 0.1);
  --gxturquoise: rgba(70, 218, 255, 0.1);
}

/*--------------------------------- GLOBAL ---------------------------------*/
* {
  box-sizing: border-box;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  margin: 0;
  color: var(--color-body);
}

a {
  color: var(--color-primary);
}

a:hover,
a:active {
  color: var(--color-link-hover);
}

h1,
h2,
h3 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  text-align: left;
}

h1 {
  font-weight: var(--font-weight-light);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

input:hover,
label:hover {
  cursor: pointer;
}

span,
ul,
fieldset {
  text-align: left;
}

/*--------------------------------- Take the Tour ---------------------------------*/

#startTour {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background: var(--bg-gradient-pink-navy);
  border-radius: 0.2em;
  color: white;
  font-weight: var(--font-weight-bold);
}

/*--------------------------------- LAYOUT ---------------------------------*/
.wrapper {
  padding: 0 30px;
}

header {
  height: 90px;
  margin-bottom: 16px;
}

.page-title {
  display: flex;
  align-items: center;
  height: 100%;
}

.framework>div {
  position: relative;
}

.container {
  display: flex;
}

.options {
  width: 300px;
  padding-right: 15px;
}

.grid {
  width: calc(100% - 300px);
  padding-left: 15px;
  padding-top: 8px;
  /* overflow: auto; */
}

/*--------------------------------- STYLES ---------------------------------*/
div.framework div {
  border-radius: 3px;
  text-align: center;
  border-width: 1px;
}

div.framework div:not([data-artefact]) {
  border-width: 3px;
  margin: 0.2em;
}

div.framework div[data-artefact] {
  background-color: white;
  padding-bottom: 25px;
  margin: 12px 8px;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 14%);
}

div.framework div[data-artefact] legend {
  font-weight: var(--font-weight-bold);
}

div.framework div[data-artefact] fieldset {
  font-size: var(--font-size-h5);
  /* border: none; */
  padding: 0 10px;
  margin: 0;
}

div.framework div[data-artefact] span.title {
  background: var(--bg-gradient-pink-navy);
  color: var(--color-white);
  display: block;
  padding: 0.5em;
  border-radius: 3px 3px 0 0;
  margin-bottom: 10px;
}

div.selected-turquoise,
div.selected-purple,
div.selected-blue {
  border-style: solid !important;
  border-width: 0 !important;
}

.selected-turquoise {
  background-color: var(--gxturquoise);
  /* background-color: #00000080;
  background-color: transparent;
  opacity: 0.8; */
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(45deg, #666 0, #666 0.8px, #ffffff00 0, #ffffff00 50%);
}

div.selected-purple {
  background-color: var(--gxpurple);
  /* background-color: #cccccc80; */
}

div.selected-blue {
  background-color: var(--gxmidblue);
  /* background-color: #99999940; */
}

div.selected-mandatory {
  /* background-color: rgba(red, 0.1); */
  font-weight: bold;
  color: red;
}

.page-title h1 {
  margin: 0;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-bold);
}

.framework h3 {
  position: absolute;
  background: var(--color-link-hover);
  left: -10px;
  top: -12px;
  margin: 0;
  padding: 2px 10px;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--color-white);
  border-radius: 3px;
  /* box-shadow: 0px 2px 6px rgb(0 0 0 / 14%); */
  box-shadow: 0px 3px 6px rgb(0 0 0 / 24%);
  white-space: nowrap;
  z-index: 1;
}

.framework h3::before {
  content: "\23";
  font-family: var(--font-family-icons);
  padding-right: 5px;
  margin-left: -5px;
  line-height: 0;
}

/* .framework .Functional-Specifications h3 {
  left: 102px;
}

.framework .Compliance h3 {
  left: 277px;
}

.framework .Gaia-X-Compliance h3 {
  left: 76px;
} */

.options {
  font-size: var(--font-size-small);
}

.options legend:not(:empty) {
  font-size: var(--font-size-h5);
  line-height: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
}

.options label::selection {
  background: transparent;
}

.selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin-top: 80px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: var(--font-size-small);
  border-top: 1px solid var(--color-light-grey);
}

.accordion_title {
  background-color: var(--color-lightest-grey) !important;
  border: none;
  border-radius: 50px;
  width: 36px !important;
  height: 10px;
  text-indent: 46px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-content: center;
  line-height: 0;
  margin-bottom: 14px;
  transition: all 0.3s ease !important;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
  color: var(--color-body) !important;
}

.accordion_title:hover,
.accordion_title:active {
  background-color: var(--color-light-grey) !important;
}

.accordion_title:hover:after,
.accordion_title:active:after {
  background-color: var(--color-grey);
}

.accordion_title:after {
  content: "" !important;
  background-color: var(--color-light-grey);
  width: 20px;
  height: 20px;
  position: absolute;
  float: none !important;
  left: 0;
  border-radius: 50px;
  top: -3px;
  color: initial !important;
  margin-left: 0 !important;
}

.accordion_title.accordion_active::after {
  left: initial;
  right: 0;
  background-color: var(--color-secondary);
}

/*--------------------------------- HEADING ICONS ---------------------------------*/
/* .Policy-Rules-Label-Document .title::before,
.Trust-Framework .title::before,
.Architecture-Document .title::before,
.Identity-Access-Management .title::before,
.Federated-Catalogue .title::before,
.Data-Exchange-Services .title::before,
.Gaia-X-Label .title::before,
.Gaia-X-Compliance-Service .title::before,
.CP .title::before,
.IDM .title::before,
.FC .title::before,
.SDE .title::before,
.IP .title::before,
.Gaia-X-Registry-Service .title::before,
.Connector-Plugins .title::before {
  content: "\f15c";
  font-family: var(--font-family-icons);
  font-weight: 900;
  padding-right: 8px;
  line-height: 0;
}

.Gaia-X-Label .title::before {
  content: "\f02c";
}

.Gaia-X-Compliance-Service .title::before,
.Gaia-X-Registry-Service .title::before {
  content: "\f013";
}

.CP .title::before,
.IDM .title::before,
.FC .title::before,
.SDE .title::before,
.IP .title::before {
  content: "\f1b2";
} */